In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import itertools

A) Write a python program to Display column-wise mean, and median for SOCRHeightWeight dataset

In [2]:
dataset1 = pd.read_csv("weight-height.csv")

In [3]:
dataset1

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [4]:
dataset1['Height'].mean()

66.36755975482124

In [5]:
dataset1['Height'].median()

66.31807008178464

In [6]:
dataset1['Weight'].mean()

161.44035683283076

In [7]:
dataset1['Weight'].median()

161.21292769948298

B) Write a python program to compute sum of Manhattan distance between all pairs of
points.

In [10]:
def manhattan_distance(point1, point2):
    return abs(point1[0] - point2[0]) + abs(point1[1] - point2[1])

def sum_of_manhattan_distances(points):
    total_distance = 0
    for point1, point2 in itertools.combinations(points, 2):
        total_distance += manhattan_distance(point1, point2)
    return total_distance

points = [(1, 2), (3, 4), (5, 6), (7, 8)]

total_manhattan_distance = sum_of_manhattan_distances(points)
print(f"Sum of Manhattan distances between all pairs of points: {total_manhattan_distance}")

Sum of Manhattan distances between all pairs of points: 40