In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. To create a dataframe containing columns name, age and percentage. Add 10 rows to the
dataframe. View the dataframe.

In [2]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Heidi', 'Ivan', 'Judy'],
    'Age': [23, 25, 22, 24, 26, 22, 23, 21, 27, 25],
    'Percentage': [85.5, 90.0, 78.0, 88.5, 92.0, 76.5, 80.0, 95.0, 89.0, 84.0]
}

dataset = pd.DataFrame(data)
dataset

      Name  Age  Percentage
0    Alice   23        85.5
1      Bob   25        90.0
2  Charlie   22        78.0
3    David   24        88.5
4      Eve   26        92.0
5    Frank   22        76.5
6    Grace   23        80.0
7    Heidi   21        95.0
8     Ivan   27        89.0
9     Judy   25        84.0

2. To print the shape, number of rows-columns, data types, feature names and the description of
the data

In [3]:
dataset.shape

(10, 3)

In [4]:
print("Rows : ",dataset.shape[0])

Rows :  10

In [5]:
print("Columns : ",dataset.shape[1])

Columns :  3

In [7]:
dataset.dtypes

Name           object
Age             int64
Percentage    float64
dtype: object

In [10]:
dataset.columns.tolist()

['Name', 'Age', 'Percentage']

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Age         10 non-null     int64
 2   Percentage  10 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 368.0+ bytes

3. To Add 5 rows with duplicate values and missing values. Add a column „remarks‟ with empty
values. Display the data.

In [21]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', np.nan],
    'Age': [25, 30, 35, 25, 28],
    'City': ['New York', 'Los Angeles', np.nan, 'New York', 'Chicago']
}

dataset = pd.DataFrame(data)
dataset['remarks'] = ""
dataset

      Name  Age         City remarks
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35          NaN
3    Alice   25     New York
4      NaN   28      Chicago